<!-- Create home page -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div id="header">
      <span class="logo">Food Inventory</span>
        {% if request.user.is_authenticated %}
          <ul class="menu">
            <li {% if section == "dashboard" %}class="food"{% endif %}>
              <a href="{% url 'food:dashboard' %}">My dashboard</a>
            </li>
          </ul>
        {% endif %}
        <span class="user">
          {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name|default:request.user.username }},
            <form action="{% url 'logout' %}" method="post">
              <button type="submit">Logout</button>
              {% csrf_token %}
            </form>
          {% else %}
            <a href="{% url 'login' %}">Log-in</a>
          {% endif %}
        </span>
      </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>